.pilot{
  width: 70%;
  margin: 0 auto;
}
.card{
  border: 1px solid rgba(0,0,0,0);
}
.card-title{
  letter-spacing: 5px;
  color: #784a45;
}
.card-text{
  color: gray;
}
.img-thumbnail{
  border: 2px solid #ab8a6b;
  border-radius: 3rem;
}
.start{
  font-size: 24px;
}
.name{
  font-size: 28px;
  letter-spacing: 10px;
}
.article-class{
  border-radius: 10px;
  background-color: #784a45;
  color: #ffffff;
  letter-spacing: 10px;
}
.article-title{
  font-size: 18px;
}