.form {
  padding-top: 2rem;
  width: 50%;
  margin: 0 auto;
}
.file {
  width: 70%;
}
.note{
  width: 100%;
}
.form-header {
  text-align: center;
  color: #784a45;
  font-size: 20px;
  font-weight: 700;
}

.form-control {
  width: 80%;
}
@media (max-width: 980px) {
  .form {  
    width: 80%;   
  }
  .file {
    width: 80%;
  }
}
@media (max-width: 740px) {
  .form {  
    width: 90%;   
  }
}
@media (max-width: 480px) {
  .file {
    width: 70%;
  }
}
